* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f4f4f4;

}

/* NAVBAR */
.navbar {
    height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 22px;
    cursor: pointer;
    color: #c62828;
}

/* CONTAINER */
.container {
    padding: 30px 100px;
}

/* VOLTAR */
.breadcrumb {
    color: #c62828;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
}

/* TÍTULO */
h1 {
    color: #d63b36;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
    font-weight: bold;
    color: #b92f2a;

}

/* LAYOUT */
.content {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

/* IMAGEM */
.image-box {
    flex: 1;
    min-width: 300px;
}

.image-box img {
    width: 500px;
    border-radius: 12px;
}

/* MAPA */
.map-box {
    flex: 1;
    min-width: 600px;
}

.map-box iframe {
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 12px;
}

/* BOTÃO */
.btn {
    margin-top: 25px;
    padding: 15px 150px;
    background: #d63b36;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #b92f2a;
}

.btn-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {

    .container {
        padding: 0px 0px;
    }

    .alinhamento {
        margin: 30px 40px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }


    h1 {
        font-size: 20px;
    }

    .image-box {

        width: 80%;

    }

    /* MAPA */
    .map-box {
        flex: 1;
        min-width: 100px;
        width: 100%;

    }

    .image-box img {
        width: 100%;
        max-width: 500px;

    }

    .map-box iframe {
        width: 100%;
        height: 15vh;

    }

    /* BOTÃO */
    .btn {
        margin-top: 4vh;
        padding: 20px 90px;
        background: #d63b36;
        font-size: 16px;

    }

}

@media (max-width: 1024px) {

    .container {
        padding: 0px 0px;
    }

    .alinhamento {
        margin: 30px 40px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }


    h1 {
        font-size: 20px;
    }

    .image-box {

        width: 80%;

    }

    /* MAPA */
    .map-box {
        flex: 1;
        min-width: 100px;
        width: 100%;

    }

    .image-box img {
        width: 100%;
        max-width: 500px;

    }

    .map-box iframe {
        width: 100%;
        height: 15vh;

    }

    /* BOTÃO */
    .btn {
        margin-top: 4vh;
        padding: 20px 90px;
        background: #d63b36;
        font-size: 16px;

    }


}