.navbar{
    height: 80px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
}

/* LOGO CENTRALIZADA */
.logo{
    width: 80px;
}

/* PERFIL NO CANTO DIREITO */
.perfil{
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}