* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        .alinhando {

            display: flex;
            justify-content: center;

        }

        body {
            background-color: #d3d3d3;
        }


        .container {
            background: white;
            width: 60%;
            height: 500px;
            margin-top: 25px;
            margin-bottom: 20px;
            border-radius: 20px;
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
            overflow: hidden;
        }

        /* TOPO */
        .topo {
            background: #d91c1c;
            color: white;
            text-align: center;
            padding: 30px 20px 50px;
            position: relative;
        }

        .topo h1 {
            font-size: 28px;
            margin-bottom: 8px;
        }

        .topo p {
            opacity: 0.9;
        }

        /* FOTO */
        .foto {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 6px solid white;
            object-fit: cover;
            position: absolute;
            left: 50%;
            bottom: -65px;
            transform: translateX(-50%);
            background: #ddd;
        }

        /* CONTEÚDO */
        .conteudo {
            padding: 60px 35px 35px;
        }

        .secao {
            margin-bottom: 25px;
        }

        .secao h2 {
            color: #d91c1c;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 15px;
            border-bottom: 2px solid #f1d0d0;
            padding-bottom: 8px;
        }

        .info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }

        .campo {
            background: #ffe7e7;
            padding: 10px;
            width: 100%;
            border-radius: 12px;
        }

        .campo span {
            display: block;
            font-size: 13px;
            color: #777;
            margin-bottom: 5px;
        }

        .campo strong {
            color: #333;
        }

        /* BOTÕES */
        .botoes {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }

        button {
            width: 280px;
            padding: 12px;
            border: none;
            border-radius: 12px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
        }



        .sair {
            background: #c02020;
            color: #ffffff;
            font-size: 21px;
            width: 50%;
            font-weight: bold;
        }

        .sair:hover {
            background: #801515;
        }

        @media(max-width:900px) {

            .container {
                width: 90%;
            }

            .info {
                grid-template-columns: 1fr;
            }

            .botoes {
                flex-direction: column;
            }

            .container {
                height: 650px;
            }

            .foto {
                width: 90px;
                height: 90px;
            }

            .campo strong {
                font-size: 13px;
            }

        }